{% extends 'base.html' %}
{% load static %}

{% block title %}Home - Portfolio{% endblock %}

{% block content %}
<h2>About</h2>
<div class="about">
    <p>Hi there! I'm currently pursuing a degree in Information Technology, delving deep into the fascinating world of computers, networks, and software development. Ever since I was young, I've been captivated by technology and its potential to transform the way we live and work.</p>
    
    <p>One of my greatest passions outside of academics is gaming. I find immense joy in immersing myself in virtual worlds, whether it's exploring vast landscapes, competing in multiplayer battles, or solving intricate puzzles. Gaming isn't just a hobby for me; it's a source of inspiration and creativity.</p>
    
    <p>Alongside gaming, I've developed a keen interest in programming. Over the years, I've learned languages like Python, JavaScript, c#, and c. While I consider myself to be at an intermediate level in python, I'm always eager to tackle new challenges and expand my knowledge.</p>
    
    <p>As I continue my journey in the field of IT, I'm excited to explore the intersections between technology, creativity, and innovation.</p>
</div>
  
{% endblock %}
